* {
  font-family: jura;
}

header {
  height: 20px;
  background: #FFA000;
}

#health-app {
  background: #FFC107;
}

#search-div {
  /*height: 200px;*/
  /*width: 45%;*/
  /*background: #ccddff;*/
}

#logo {
  color: #FF5252;
  font-weight: 600;
  -webkit-filter: drop-shadow(2px 2px 3px #FFECB3);
}

#select-food-item {
  margin-top: 10px;
  position: relative;
  /*z-index: -1;*/
}

#leo-auto-bar {
  background: white;
  height: 30px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

/*#clear-log {
  width: 100%;
  margin-bottom: 20px;

}*/

#total-cals, #item-cals {
  font-size: 20px;
  padding: 10px;
  background: #FFECB3;
  margin-top: 10px;
  width: 100%;
  border: 1px #FFA000 solid;
}



.accent-color {
  color: #FF5252;
}



select {
  margin-bottom: 10px;
  overflow: auto;
}



.main-ate-that, #clear-log {
  position: relative;
  background: #FF5252;
  color: white;
  /*z-index: -1;*/
  margin-top: 10px;
  height: 40px;
  width: 100%;
}

#clear-log {
  margin-bottom: 10px;
  margin-top: 0px;
}

.leo-auto-suggestions {

  border: 1px solid #999;
  z-index: 1;
  background: #fff;
  cursor: default;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

}


.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}


#item-div {

}

#food-log {
  position: relative;
  margin-top: 10px;
  overflow-y: auto;
  width: 100%;
  /*min-height: 50px;*/
  max-height: 150px;
  background-color: white;
  margin-bottom: 20px;
}



.leo-auto-suggest {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}

.food-item {
  border: 1px red solid;
  margin: 10px;
  color: white;
  padding-right: 20px;
  background: #888;
}

.logged-item {
  text-align: center;
  background-color: #FFECB3;
  margin: 5px;
  padding: 5px;
  border: 1px #FFC107 solid;
}

.logged-item:hover {
  background-color: #FFC107;
  color: white;
}


.leo-selected {
  background: #FF5252;
  color: white;
}

.hidden {
  display: none;
}
