* {
  font-family: jura;
  font-size: 18px;
}

.delete-log-item {
  cursor: pointer;
}

.hidden {
  display: none;
}


body::-webkit-scrollbar {
    display: none;
}

header {
  height: 20px;
  background: #455A64;
}

#overlay {
  opacity:    0.5;
  background: #000;
  width:      100%;
  height:     100%;
  z-index:    9;
  top:        0;
  left:       0;
  position:   fixed;
}

#overlay-info {
  position: fixed;
  top: 100px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 5% auto;
  background: white;
  opacity: 1;
  z-index: 10;
  text-align: center;
  border-radius: 5px;
}

#close-tutorial {
  margin-bottom: 15px;
  color: white;
  background-color: #FF4081;
}

#health-app {
  background: #607D8B;
}

#search-div {
  /*height: 200px;*/
  /*width: 45%;*/
  /*background: #ccddff;*/
}

#logo {
  color: #FFFFFF;
  font-weight: 600;
  /*-webkit-filter: drop-shadow(2px 2px 1px #CFD8DC);*/
}

#select-food-item {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 17px;
  height: 200px;
  margin-top: 10px;
  position: relative;
  /*z-index: -1;*/
}



#leo-auto-bar {
  background: white;
  height: 30px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;

}

/*#clear-log {
  width: 100%;
  margin-bottom: 20px;

}*/

#total-cals, #item-cals {
  font-size: 20px;
  padding: 10px;
  background: #CFD8DC;
  margin-top: 10px;
  width: 100%;
  /*height: 43px;*/
  border: 1px #727272 solid;
  border-radius: 5px;
}

#item-cals {
  text-align: center;
}



.accent-color {
  color: #FF4081;
}



select {
  margin-bottom: 10px;
  overflow: auto;
}



.main-ate-that, #clear-log {
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  /*border-radius: 5px;*/
  position: relative;
  background: #FF4081;
  font-size: 20px;
  color: white;
  /*z-index: -1;*/
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

.main-ate-that:hover, #clear-log:hover {
  font-size: 21px;
}

#clear-log {
  /*margin-bottom: 10px;*/
  margin-top: 0px;
}

.leo-auto-suggestions {

  border: 1px solid #999;
  z-index: 1;
  background: #fff;
  cursor: default;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

}

.leo-selected {
  background: #FF4081;
  color: white;
}


option {
  text-align: center;
}



#item-div {

}

#food-log {
  padding-left: 17px;
  position: relative;
  border-bottom: 5px solid #CFD8DC;
  border-top: 5px solid #CFD8DC;
  /*padding-bottom: 10px;
  padding-top: 10px;*/
  margin-top: 10px;
  overflow-y: auto;
  width: 100%;
  /*min-height: 50px;*/
  max-height: 150px;
  background-color: #CFD8DC;
  margin-bottom: 20px;
}

.leo-auto-suggest {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}

.food-item {
  border: 1px red solid;
  margin: 10px;
  color: white;
  padding-right: 20px;
  background: #888;
}

.logged-item {
  text-align: center;
  font-size: 18px;
  background-color: #607D8B;
  color: white;
  margin: 10px;
  padding: 5px;
  /*border: 2px white solid;*/
}

.logged-item:hover {
  background-color: #FFFFFF;
  color: black;
}



.hidden {
  display: none;
}



.new-options {
  background: white;
}

.new-option {
  border: 2px red solid;
  margin-top: 10px;
  list-style-type: none;
}

.new-selected {
  background: #FF4081;
  color: white;
}




/*.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 10px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}*/
